*{
    list-style: none;
}
.center-3{
    background: #FCFBF8;
    position: relative;
    overflow: hidden;
}
.ct_nav{
    width: 680px;
    height: 50px;
    position: relative;
    margin:0 auto;
    border-bottom: 1px solid #dddddd;
    z-index: 8;
    background: rgba(0, 255, 255, 0);
}
.ct_nav li{
    float: left;
    width:68px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.ct_nav li.active{
    color:#C72525;
    border-bottom: 4px solid #C72525;
}

.ct_tab{
    width: 100%;
    height: 100px;
    position:relative;
    top: -50px;
}
.ct_tab>div{
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    opacity: 0;
}
.ct_tab>div .name{
    position: absolute;
    top: 65px;
    left: 25px;
    width: 240px;
    height: 45px;
}
.ct_tab>div .dingwei{
    position: absolute;
    top: 134px;
    left: 25px;
    width: 192px;
    height: 30px;
    line-height: 30px;
    color: #9b7442;
    border-bottom: 1px #a4a3a1 solid;
    border-top:1px #a4a3a1 solid;
    font-size: 14px;
    padding: 0;
}
.ct_tab>div .leibie{
    position: absolute;
    top: 192px;
    left: 25px;
    width: 152px;
    height: 138px;
    background: #e6e6e6;
}
.ct_tab>div .gender{
    width: 115px;
    height: 100px;
    position: absolute;
    z-index: 9;
    right: 15px;
    bottom: 20px;
}
.ct_tab>div .gender a{
    position: relative;
    right: -75px;
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom:10px;
    background: yellow;
    font-size: 0;
}
.ct_tab>div .gender a.active1{
    width: 115px;
    height: 40px;
    position: relative;
    right: 0;
    background: url("../img/tabimg/touxiang/male.gif")  no-repeat;
    font-size: 16px;
    line-height: 40px;
    text-indent: 20px;
}
.ct_tab>div .gender a.active2{
    width: 115px;
    height: 40px;
    position: relative;
    right: 0;
    background: url("../img/tabimg/touxiang/female.gif")  no-repeat;
    font-size: 16px;
    line-height: 40px;
    text-indent: 20px;
}

